<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipaylinks.mobile.ipaylinkssdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SEND_SMS" />



    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".activity.CashierActivity"
           android:theme="@android:style/Theme.Dialog">
        </activity>

        <activity android:name=".activity.IpayLinksCashierActivity"
            android:theme="@style/Theme.Transparent">
            <!---TransparentWithTitleBar -->
            <!---Transparent -->
        </activity>


        <activity android:name=".activity.test" />

    </application>

</manifest>